<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <%- include('_header'); %>

        <h1>Codeial / <%= title %></h1>
        
        <%- include('_header'); %>

    </body>
</html>