/* body {
  background-color: #4aa0bd; }

.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; } */

    body {
      background-color: #4aa0bd;
    }
  
    .main {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }